<% layout("/layouts/boilerplate.ejs") %>

<div class="row">
    <div class="col-8 offset-2">
        <br><br>
        <h2>Edit Your Listing</h2>

        <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">

            <!-- Title -->
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" id="title" name="listing[title]" value="<%= listing.title %>" class="form-control">
            </div>

            <!-- Description -->
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea id="description" name="listing[description]" class="form-control"><%= listing.description %></textarea>
            </div>

            <!-- Image -->
            <div class="mb-3">
                <label for="image" class="form-label">Image Link</label>
                <input type="text" id="image" name="listing[image]" value="<%= listing.image.url %>" class="form-control">
            </div>

            <!-- Price & Country in one row -->
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" id="price" name="listing[price]" value="<%= listing.price %>" class="form-control">
                </div>

                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" id="country" name="listing[country]" value="<%= listing.country %>" class="form-control">
                </div>
            </div>

            <!-- Location -->
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" id="location" name="listing[location]" value="<%= listing.location %>" class="form-control">
            </div>

            <!-- Submit -->
            <button type="submit" class="btn btn-dark edit-btn">Edit</button>
        </form>
    </div>
</div>
