<% layout("/layouts/boilerplate.ejs") %>
<div class="row mt-2">
    <div class="col-8 offset-2">
    <h3>Listing Details :</h3>


    <div class="card col-6 offset-2">
        <img src="<%=listing.image.url%>" class="card-img-top show-img" alt="linsting image">
        <div class="card-body">
            <p class="card-text">
                <b><%= listing.title %></b>
                <%= listing.description %> <br>
                &#2547; <%= listing.price.toLocaleString("en-BD") %><br>
                <%= listing.location %> <br>
                <%= listing.country %> <br>
            </p>
        </div>
     </div>

    <br>

    <div class="btns">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-2 offset-2 edit-btn">Edit</a>
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button class="btn btn-dark offset-2">Delete</button>
       </form>

     </div>
   </div>
</div>
